.container{
    margin: 0 80px;
    padding: 0 80px;
    background-color: aqua;
}


.list{
    display: none;
    
}

li{
    list-style-type: none;
    background-color: white;
    padding: 10px;
    width: 180px;
    margin: 50px;
}

